.add-note {
  display: flex;
  flex-direction: column;
}

.add-note label {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.add-note__title,
.add-note__content {
  font-family: inherit;
  font-size: 1.5rem;
  padding-block: 1.2rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #111113;
  background-color: rgba(251, 255, 255, 0.6);
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.add-note__content {
  max-width: 100%;
  height: 12rem;
}

.add-note__btns {
  display: flex;
  justify-content: space-between;
}

.btn.btn--cancel,
.btn.btn--add-note {
  width: 48%;
}

@media screen and (min-width: 600px) {
  .add-note__btns {
    justify-content: flex-end;
  }

  .btn--cancel {
    margin-right: 1.5rem;
  }

  .btn.btn--cancel,
  .btn.btn--add-note {
    width: 17rem;
  }
}
