.modal-container {
  background: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  background-color: #fbffff;
  border-radius: 5px;
  padding: 3rem;
  width: 80rem;
  max-width: 100%;
}

.modal__title {
  margin-bottom: 1.5rem;
}

.modal__note-content {
  line-height: 1.5;
}

.btn--close-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
