.added-notes__note {
  position: relative;
  background-color: #fbffff;
  border: 1px solid #111113;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.added-notes__note:not(:last-child) {
  margin-block-end: 1.5rem;
}

.added-notes__title {
  font-size: clamp(1.5rem, 5vw, 1.6rem);
}

.added-notes__content {
  font-size: clamp(1.5rem, 5vw, 1.6rem);
  line-height: 1.5;
  margin-block-start: 1rem;
  margin-block-end: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.note-details {
  display: flex;
  justify-content: space-between;
}

.added-notes__date {
  font-size: 1.4rem;
  font-style: italic;
}

.added-notes__delete,
.added-notes__details {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all;
}

.added-notes__details {
  font: inherit;
  border-bottom: 1px solid #111113;
}

.added-notes__details svg {
  margin-left: 0.5rem;
  transition: 0.2s all;
}

.added-notes__details:hover {
  color: #42619f;
  border-bottom: 1px solid #42619f;
}

.added-notes__details:hover svg path {
  fill: #42619f;
}

.added-notes__details:hover svg {
  margin-left: 0.75rem;
}

.added-notes__delete {
  position: absolute;
  top: 11px;
  right: 19px;
}
